In [5]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

In [6]:
df  = pd.read_csv('datasets/dataset1.csv')     # Read t]]
print(df)

    Person   Age       City Bool  Marks
0  Person2  24.0  Bangalore   No     47
1  Person3  19.0      Delhi   No     89
2  Person4   NaN     Mumbai  Yes     93
3  Person5  24.0  Hyderabad   No     85
4  Person1  17.0    Chennai  Yes     98

#### describe()

Generate descriptive statistics that include those that summarize the central
tendency, dispersion and shape of a
dataset's distribution, excluding ``NaN`` values.

In [7]:
df.describe()  # Generate descriptive statistics

             Age      Marks
count   4.000000   5.000000
mean   21.000000  82.400000
std     3.559026  20.366639
min    17.000000  47.000000
25%    18.500000  85.000000
50%    21.500000  89.000000
75%    24.000000  93.000000
max    24.000000  98.000000

In [3]:
print(df.shape)                     #representing the dimensionality of the DataFrame

print(df.isnull())                  #Return a boolean same-sized object indicating if the values are NA

NameError: name 'df' is not defined

In [ ]:
df1 = pd.read_csv('datasets/cars.csv')                  #Reads cars.csv file
df2 = pd.read_csv('datasets/loans.csv')                 #Reads loans.csv file

In [ ]:
print(df1)

           Car       Model  Volume  Weight  CO2  Unnamed: 5
0       Toyota        Aygo    1000     790   99         NaN
1   Mitsubishi  Space Star    1200    1160   95         NaN
2        Skoda      Citigo    1000     929   95         NaN
3         Fiat         500     900     865   90         NaN
4         Mini      Cooper    1500    1140  105         NaN
5           VW         Up!    1000     929  105         NaN
6        Skoda       Fabia    1400    1109   90         NaN
7     Mercedes     A-Class    1500    1365   92         NaN
8         Ford      Fiesta    1500    1112   98         NaN
9         Audi          A1    1600    1150   99         NaN
10     Hyundai         I20    1100     980   99         NaN
11      Suzuki       Swift    1300     990  101         NaN
12        Ford      Fiesta    1000    1112   99         NaN
13       Honda       Civic    1600    1252   94         NaN
14      Hundai         I30    1600    1326   97         NaN
15        Opel       Astra    1600    1330   97         NaN
16         BMW           1    1600    1365   99         NaN
17       Mazda           3    2200    1280  104         NaN
18       Skoda       Rapid    1600    1119  104         NaN
19        Ford       Focus    2000    1328  105         NaN
20        Ford      Mondeo    1600    1584   94         NaN
21        Opel    Insignia    2000    1428   99         NaN
22    Mercedes     C-Class    2100    1365   99         NaN
23       Skoda     Octavia    1600    1415   99         NaN
24       Volvo         S60    2000    1415   99         NaN
25    Mercedes         CLA    1500    1465  102         NaN
26        Audi          A4    2000    1490  104         NaN
27        Audi          A6    2000    1725  114         NaN
28       Volvo         V70    1600    1523  109         NaN
29         BMW           5    2000    1705  114         NaN
30    Mercedes     E-Class    2100    1605  115         NaN
31       Volvo        XC70    2000    1746  117         NaN
32        Ford       B-Max    1600    1235  104         NaN
33         BMW           2    1600    1390  108         NaN
34        Opel      Zafira    1600    1405  109         NaN
35    Mercedes         SLK    2500    1395  120         NaN

In [ ]:
print(df2)

     client_id loan_type  loan_amount  repaid  loan_id  loan_start  \
0        46109      home        13672       0    10243  2002-04-16
1        46109    credit         9794       0    10984  2003-10-21
2        46109      home        12734       1    10990  2006-02-01
3        46109      cash        12518       1    10596  2010-12-08
4        46109    credit        14049       1    11415  2010-07-07
..         ...       ...          ...     ...      ...         ...
438      26945     other        12963       0    10330  2001-11-26
439      26945    credit         1728       1    10248  2004-01-27
440      26945     other         9329       0    10154  2001-12-17
441      26945      home         4197       0    10333  2003-10-16
442      26945      home         3643       0    11434  2010-03-24

       loan_end  rate
0    2003-12-20  2.15
1    2005-07-17  1.25
2    2007-07-05  0.68
3    2013-05-05  1.24
4    2012-05-21  3.13
..          ...   ...
438  2004-06-11  2.46
439  2005-06-21  5.27
440  2004-07-22  5.65
441  2005-07-10  4.50
442  2011-12-22  0.13

[443 rows x 8 columns]

### SimpleImputer()
Replace missing values using a descriptive statistic (e.g. mean, median, or
most frequent) along each column, or using a constant value.

In [ ]:
impute = SimpleImputer(missing_values="NaN", strategy="mean")
print(df)
imputer = impute.fit(df)   
data = imputer.transform(df)
print(data)

    Person   Age       City Bool  Marks
0  Person2  24.0  Bangalore   No     47
1  Person3  19.0      Delhi   No     89
2  Person4   NaN     Mumbai  Yes     93
3  Person5  24.0  Hyderabad   No     85
4  Person1  17.0    Chennai  Yes     98

ValueError: Cannot use mean strategy with non-numeric data:
could not convert string to float: 'Person2'

### get_dummies(<coloumn>)

Each variable is converted in as many 0/1 variables as there are different
values. Columns in the output are each named after a value; if the input is
a DataFrame, the name of the original variable is prepended to the value.

In [ ]:
new_cars = pd.get_dummies(df1[['Model']])
print(new_cars.to_string())
#print(new_cars)

    Model_1  Model_2  Model_3  Model_5  Model_500  Model_A-Class  Model_A1  Model_A4  Model_A6  Model_Astra  Model_Aygo  Model_B-Max  Model_C-Class  Model_CLA  Model_Citigo  Model_Civic  Model_Cooper  Model_E-Class  Model_Fabia  Model_Fiesta  Model_Focus  Model_I20  Model_I30  Model_Insignia  Model_Mondeo  Model_Octavia  Model_Rapid  Model_S60  Model_SLK  Model_Space Star  Model_Swift  Model_Up!  Model_V70  Model_XC70  Model_Zafira
0     False    False    False    False      False          False     False     False     False        False        True        False          False      False         False        False         False          False        False         False        False      False      False           False         False          False        False      False      False             False        False      False      False       False         False
1     False    False    False    False      False          False     False     False     False        False       False        False          False      False         False        False         False          False        False         False        False      False      False           False         False          False        False      False      False              True        False      False      False       False         False
2     False    False    False    False      False          False     False     False     False        False       False        False          False      False          True        False         False          False        False         False        False      False      False           False         False          False        False      False      False             False        False      False      False       False         False
3     False    False    False    False       True          False     False     False     False        False       False        False          False      False         False        False         False          False        False         False        False      False      False           False         False          False        False      False      False             False        False      False      False       False         False
4     False    False    False    False      False          False     False     False     False        False       False        False          False      False         False        False          True          False        False         False        False      False      False           False         False          False        False      False      False             False        False      False      False       False         False
5     False    False    False    False      False          False     False     False     False        False       False        False          False      False         False        False         False          False        False         False        False      False      False           False         False          False        False      False      False             False        False       True      False       False         False
6     False    False    False    False      False          False     False     False     False        False       False        False          False      False         False        False         False          False         True         False        False      False      False           False         False          False        False      False      False             False        False      False      False       False         False
7     False    False    False    False      False           True     False     False     False        False       False        False          False      False         False        False         False          False        False         False        False      False      False           False         False          False        False      False      False             False        False      False      False       False         False
8     False    False    False    False      False          False     False     False     False        False       False        False          False      False         False        False         False          False        False          True        False      False      False           False         False          False        False      False      False             False        False      False      False       False         False
9     False    False    False    False      False          False      True     False     False        False       False        False          False      False         False        False         False          False        False         False        False      False      False           False         False          False        False      False      False             False        False      False      False       False         False
10    False    False    False    False      False          False     False     False     False        False       False        False          False      False         False        False         False          False        False         False        False       True      False           False         False          False        False      False      False             False        False      False      False       False         False
11    False    False    False    False      False          False     False     False     False        False       False        False          False      False         False        False         False          False        False         False        False      False      False           False         False          False        False      False      False             False         True      False      False       False         False
12    False    False    False    False      False          False     False     False     False        False       False        False          False      False         False        False         False          False        False          True        False      False      False           False         False          False        False      False      False             False        False      False      False       False         False
13    False    False    False    False      False          False     False     False     False        False       False        False          False      False         False         True         False          False        False         False        False      False      False           False         False          False        False      False      False             False        False      False      False       False         False
14    False    False    False    False      False          False     False     False     False        False       False        False          False      False         False        False         False          False        False         False        False      False       True           False         False          False        False      False      False             False        False      False      False       False         False
15    False    False    False    False      False          False     False     False     False         True       False        False          False      False         False        False         False          False        False         False        False      False      False           False         False          False        False      False      False             False        False      False      False       False         False
16     True    False    False    False      False          False     False     False     False        False       False        False          False      False         False        False         False          False        False         False        False      False      False           False         False          False        False      False      False             False        False      False      False       False         False
17    False    False     True    False      False          False     False     False     False        False       False        False          False      False         False        False         False          False        False         False        False      False      False           False         False          False        False      False      False             False        False      False      False       False         False
18    False    False    False    False      False          False     False     False     False        False       False        False          False      False         False        False         False          False        False         False        False      False      False           False         False          False         True      False      False             False        False      False      False       False         False
19    False    False    False    False      False          False     False     False     False        False       False        False          False      False         False        False         False          False        False         False         True      False      False           False         False          False        False      False      False             False        False      False      False       False         False
20    False    False    False    False      False          False     False     False     False        False       False        False          False      False         False        False         False          False        False         False        False      False      False           False          True          False        False      False      False             False        False      False      False       False         False
21    False    False    False    False      False          False     False     False     False        False       False        False          False      False         False        False         False          False        False         False        False      False      False            True         False          False        False      False      False             False        False      False      False       False         False
22    False    False    False    False      False          False     False     False     False        False       False        False           True      False         False        False         False          False        False         False        False      False      False           False         False          False        False      False      False             False        False      False      False       False         False
23    False    False    False    False      False          False     False     False     False        False       False        False          False      False         False        False         False          False        False         False        False      False      False           False         False           True        False      False      False             False        False      False      False       False         False
24    False    False    False    False      False          False     False     False     False        False       False        False          False      False         False        False         False          False        False         False        False      False      False           False         False          False        False       True      False             False        False      False      False       False         False
25    False    False    False    False      False          False     False     False     False        False       False        False          False       True         False        False         False          False        False         False        False      False      False           False         False          False        False      False      False             False        False      False      False       False         False
26    False    False    False    False      False          False     False      True     False        False       False        False          False      False         False        False         False          False        False         False        False      False      False           False         False          False        False      False      False             False        False      False      False       False         False
27    False    False    False    False      False          False     False     False      True        False       False        False          False      False         False        False         False          False        False         False        False      False      False           False         False          False        False      False      False             False        False      False      False       False         False
28    False    False    False    False      False          False     False     False     False        False       False        False          False      False         False        False         False          False        False         False        False      False      False           False         False          False        False      False      False             False        False      False       True       False         False
29    False    False    False     True      False          False     False     False     False        False       False        False          False      False         False        False         False          False        False         False        False      False      False           False         False          False        False      False      False             False        False      False      False       False         False
30    False    False    False    False      False          False     False     False     False        False       False        False          False      False         False        False         False           True        False         False        False      False      False           False         False          False        False      False      False             False        False      False      False       False         False
31    False    False    False    False      False          False     False     False     False        False       False        False          False      False         False        False         False          False        False         False        False      False      False           False         False          False        False      False      False             False        False      False      False        True         False
32    False    False    False    False      False          False     False     False     False        False       False         True          False      False         False        False         False          False        False         False        False      False      False           False         False          False        False      False      False             False        False      False      False       False         False
33    False     True    False    False      False          False     False     False     False        False       False        False          False      False         False        False         False          False        False         False        False      False      False           False         False          False        False      False      False             False        False      False      False       False         False
34    False    False    False    False      False          False     False     False     False        False       False        False          False      False         False        False         False          False        False         False        False      False      False           False         False          False        False      False      False             False        False      False      False       False          True
35    False    False    False    False      False          False     False     False     False        False       False        False          False      False         False        False         False          False        False         False        False      False      False           False         False          False        False      False       True             False        False      False      False       False         False