In [15]:
import csv
import statistics as st
import pandas as pd
import numpy as np

In [35]:
dataset = pd.read_csv('archive/robot_inverse_kinematics_dataset.csv')

In [36]:
dataset

          q1     q2    q3     q4      q5     q6       x        y      z
0     -1.510 -0.763  1.85 -0.817  0.9120  2.320 -0.0947  0.15000  0.301
1     -2.840  0.520  1.58 -1.270 -1.3900  0.617  0.1420 -0.10000  0.225
2     -1.230  0.695  1.22 -1.130  0.0343  6.270 -0.0833  0.22300  0.206
3     -1.990  1.060  1.74 -1.760 -1.2400  4.760  0.1350 -0.03140  0.370
4      1.050  0.836  1.34 -1.890  0.4840  4.380 -0.0560 -0.22900  0.260
...      ...    ...   ...    ...     ...    ...     ...      ...    ...
14995  0.314 -0.534  1.76  1.970 -0.6990  3.870 -0.1130 -0.12800  0.257
14996  2.450  1.360  1.55  2.780 -0.3210  5.310  0.0633 -0.03160  0.450
14997  2.620  1.410  1.56  2.540  1.0600  5.870  0.1310 -0.16000  0.362
14998 -1.890  1.850  1.51  1.090  0.6970  4.070  0.0829 -0.01600  0.441
14999  2.680 -1.790  1.79  2.620  1.5900  2.640 -0.1570 -0.00369  0.254

[15000 rows x 9 columns]

In [37]:
x = dataset['x'].to_numpy()
y = dataset['y'].to_numpy()
z = dataset['z'].to_numpy()

In [38]:
st.mean(z)

0.25729380873333335

In [39]:
zd = z + 0.25
st.mean(zd)

0.5072938087333333

In [40]:
st.mean(x)

-0.005186054036666667

In [44]:
xd = x + 0.35
st.mean(xd)

0.3448139459633333

In [45]:
with open('new_dataset.csv', mode='w') as datafile:
    writer = csv.writer(datafile, delimiter=',', quotechar='"', quoting=csv.QUOTE_MINIMAL)
    writer.writerow(['x','y','z'])
    for i in range(len(x)):
        writer.writerow([xd[i],y[i],zd[i]])

In [46]:
newfile = pd.read_csv('archive/new_dataset.csv')